<title><?php echo $pageTitle;?></title>
<base href="http://stud0.asdat.info/"/>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="<?php echo THEME_URI;?>assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="<?php echo THEME_URI;?>assets/css/main.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="<?php echo THEME_URI;?>assets/css/ie9.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="<?php echo THEME_URI;?>assets/css/ie8.css" /><![endif]-->